@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");

* {
  margin: 0;
  border: 0;
}
.logo {
  height: 50px;
  width: 60px;
  padding: 10px 10px 10px 30px;
}
.nav-menu li {
  list-style: none;
  font-family: sans-serif, cursive;
  font-size: 25px;
}
.nav-menu li a {
  color: black;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  height: 80px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 18px;
}
.links {
  transition: 0.6s ease;
}
.links :hover {
  color: rgb(130, 24, 25);
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(0, 0, 0);
}
/*footer*/
.footer-container {
  height: auto;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

.footer-navv {
  margin: 50px 60px 50px 0px;
}
h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  color: rgb(250, 250, 250);
}

.footer-navv li {
  color: rgb(206, 206, 206);
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.hero-banner {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.box {
  border: 2px solid black;
  border-radius: 6px;
}

.hero-banner-text {
  position: absolute;
  top: 30%;
  left: 10%;
}
.banner-text {
  color: blueviolet;
  font-family: "bebas neue", cursive;
}

h1 {
  font-size: 47px;
  font-family: "bebas neue", cursive;
  text-align: center;
}
h2 {
  font-size: 48px;
  font-family: "Bebas Neue", cursive;
}
.button-banner-text {
  background-color: blueviolet;
  color: white;
  font-family: sans-serif;
  font-size: larger;
  width: 145px;
  height: 40px;
}

.button-banner-text:hover {
  background-color: rgba(220, 220, 220);
}

.container {
  display: flex;
  justify-content: center;

  margin: 50px 100px;
}

.div-container {
  margin: 5px;
  width: 100%;
  text-decoration: none;
}

.img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.text {
  margin-left: 10px;
}

button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  font-family: "bebas neue", cursive;
}

h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
p {
  font-family: sans-serif;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 0px;
    text-align: center;
  }
}

/*footer*/
.footer-container {
  height: auto;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
}

.footer-navv {
  margin: 50px 60px 50px 0px;
}
h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  color: rgb(250, 250, 250);
}

.footer-navv li {
  color: rgb(206, 206, 206);
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45);
  }
  .nav-menu {
    position: fixed;
    left: 120%;
    top: 71px;
    gap: 0;
    flex-direction: column;
    background-color: azure;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .fix-menu {
    top: 240px;
  }
  .nav {
    flex-direction: column;
  }
  .nav-items {
    margin: 10px;
  }
  .nav-menu.active {
    left: 0%;
  }
  .fix-menu.active {
    left: 0;
  }
  .links {
    display: none;
  }
  .footer-nav:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .hamburger-menu {
    display: block;
  }
  .footer-container {
    flex-direction: column;
  }
}
